[submodule "projects/Attorney-Review"]
	path = projects/Attorney-Review
	url = https://github.com/vivekNzO/Attorney-review-system
[submodule "projects/htmlAssessment"]
	path = projects/htmlAssessment
	url = https://github.com/vivekNzO/html-assignments
